<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/supp/index.css">
		<style>
			.mui-content{
				padding-bottom: 50px;
			}
			.mui-btn-primary{ background-color: #FFFFFF!important; border: 1px solid #333333;color: #333333;margin-right: 5px;}
			.mui-btn-primary:active {
				color: #fff;
				border: 1px solid #fff;
				background-color: #000!important; 
			}
			.icon-btn535{
				color: #DC3C4F;
				border: 1px solid #DC3C4F;
				margin-right:10px;
			}
			/*现金券列表弹出*/
			#activeList{
				width: 100%;
				height: 200px;
				background: #FFFFFF;
			}
			.mui-backdrop-action.mui-backdrop{
				    background-color: rgba(0,0,0,.5);
			}
		</style>
	</head>
	<body>
	<div id="loadingdiv">
		<div style="width: 100%;height: 100%;position: relative">
			<img src="../images/soogif1.gif" alt=""  class="spinner">
		</div>
	</div>
	<div id="app">
		<!-- ?so_id=692&origin=adr -->
		<div class="mui-content">
			<!--订单号-->
			<div class="icon-cart" style="border-bottom: 1px solid #EEEEEE;">
				<div>
					<span>订单号：</span>
					<span class="iconMotive" v-text="order.so_no"></span>
					<span class="iconState">{{order.so_status | getStatus}}</span>
				</div>
			</div>
			<!--地址选择-->
			<div class="location">
				<img src="../images/order_address_icon copy 2@2x.png" alt="" class="mar10"/>
				<div class="addres">
	                <div style="margin-bottom: 5px">
	                    <span class="mar10" v-text="uad.name"></span>
	                    <span v-text="uad.tel"></span>
	                </div>
	                <span class="text-overflow2">
	                <span v-if="order.so_issend == 'Y'">收货地址:</span>
	                <span v-if="order.so_issend == 'N'">提货地址:</span>
	                 {{uad.province}} / {{uad.city}} / {{uad.district}} / {{uad.detail}}</span>
	           </div>
				<div class="locusImg">
	                <img src="../images/order_address_line@2x@2x.png" alt="">
	            </div>
			</div>
			<!--订单商品-->
			<div class="icon-cart mat13">
				<div>
					<img src="../images/order_title copy 3@2x.png" alt="" class="iconLeft"/>
					<span class="iconMotive" v-text="order.csr_username"></span>
				</div>
			</div>
			<div>

				<div class="orderChose" v-for="item in order.detail">
					<div class="choseImg">
						<img v-bind:src="item.spt_photo" alt="" />
					</div>
					<ul class="choseBody">
						<li class="text-overflow2" v-text="item.sod_name"></li>
						<li>规格&nbsp;<span>{{item.spt_unit_desc}}</span></li>
					</ul>
				
					<ul class="choseFoot">
						<li>批发价: <span class="font12 color535">¥<span class="font14">{{item.sod_price}}</span></span></li>
						<li>×<span v-text="item.sod_number"></span></li>
					</ul>
				</div>
				
			</div>
			<!--下单时间-->
			<div class="icon-cart mat10">
				<div>
					<span>下单时间：</span>
					<span class="iconMotive">{{order.so_create_time | FMtime}}</span>
				</div>
			</div>
			<!--配送方式-->
			<div class="icon-cart">
				<div>
					<span>配送方式：</span>
					<span class="iconMotive" v-if="order.so_issend == 'Y'">商家发货</span>
					<span class="iconMotive" v-if="order.so_issend == 'N'">买家自提</span>
				</div>
			</div>
			<!--发票信息-->
			<a href="javascript:void(0);" v-if="order.so_inc_id == null">
				<div class="icon-cart">
					<div>
						<span class="iconMotive">发票信息</span>无发票
						<img src="../images/item_arrow@2x copy@2x.png" alt="" class="iconRight"/>
					</div>
				</div>
			</a>
            <a href="#activeList" class="invoice" v-if="order.so_inc_id != null">
                <div class="icon-cart">
                    <div>
                        <span class="iconMotive">发票信息</span>
                        <img src="../images/item_arrow@2x copy@2x.png" alt="" class="iconRight"/>
                    </div>
                </div>
            </a>

			<!--优惠促销-->
			<ul class="choseleft">
				<!--促销活动-->
				<li v-if="order.mav_type != null" class="adreet choseSale">
					<img v-if="order.mav_type == 'sales'" src="../images/Sales%20promotion@2x.png" alt="">
                    <img v-if="order.mav_type == 'morefree'" src="../images/Full reduction@2x.png" alt="">
					<span class="flex1" v-text="order.spr_name"></span>
				</li>
				<!--优惠券-->
				<li v-if="order.so_coupon_id != null" class="adreet choseSale">
					<img src="../images/shop_Discount@2x.png" alt="">
					<span class="flex1" v-text="order.cp_name"></span>
				</li>
			</ul>

			<!--详情-->
			<ul class="shopState mat10">
				<li v-if="order.so_issend == 'Y'" class="flex">
					<span class="flex1">商品运费：</span>
					<span>¥<span>{{order.so_send_price | getPrice}}</span></span>
				</li>
				<li  v-if="order.so_coupon_id != null" class="flex">
					<span class="flex1">优惠券：</span>
					<span>-¥<span>{{order.so_coupon_price | getPrice}}</span></span>
				</li>
				<li v-if="order.mav_type != null" class="flex">
					<span  v-if="order.mav_type == 'morefree'" class="flex1">满减优惠：</span>
                    <span  v-if="order.mav_type == 'sales'" class="flex1">`促销优惠：</span>
					<span>-¥<span>{{order.so_min_price | getPrice}}</span></span>
				</li>
			</ul>
			<div class="icon-cart">
				<div>
					<span class="icon-textRight">订单总额：</span>
					<span class="icon535">¥<span>{{order.so_price}}</span></span>
				</div>
			</div>
			<!--订单按钮-->
			<div class="icon-foot-btn">
				<!--待付款-->
				<div v-if="order.so_status == 'ToPaid'" class="icon-btn-order">
					<a href="javascript:void(0)" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
						联系买家
					</a>
					<!--如果是“商家自提”就把这个隐藏-->
					<a v-if="order.so_issend == 'Y'" href="javascript:void(0)" class="mui-btn mui-btn-primary promptBtn" v-bind:so_id="order.so_id">
						修改运费
					</a>
				</div>
				<!--待发货-->
				<div class="icon-btn-order" v-if="order.so_status == 'ToSend'">
					<a href="javascript:void(0);" class="mui-btn mui-btn-primary icon-btn535 imSend" v-bind:so_id="order.so_id">
						立即发货
					</a>
					<a href="javascript:void(0);" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
						联系买家
					</a>
				</div>
                <!--已发货-->
                <div class="icon-btn-order" v-if="order.so_status == 'Send'">
                    <a href="javascript:void(0);" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
                        联系买家
                    </a>
                </div>
				<!--待提货-->
				<div class="icon-btn-order" v-if="order.so_status == 'ToPickUp'">
					<a href="javascript:void(0)" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
						联系买家
					</a>
				</div>
				<!--待供应商退款 -->
				<div v-if="order.so_status == 'Refund'" class="icon-btn-order">
					<a href="javascript:void(0)" class="mui-btn mui-btn-primary icon-btn535 CloseRefund" v-bind:so_id="order.so_id">
						确认退款
					</a>
					<a href="javascript:void(0)" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
						联系买家
					</a>
				</div>
                <!--待平台退款 -->
                <div v-if="order.so_status == 'PlatfromRefund'" class="icon-btn-order">
                    <a href="javascript:void(0)" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
                        联系买家
                    </a>
                </div>
                <!--已退款 -->
                <div v-if="order.so_status == 'HasRefund'" class="icon-btn-order">
                    <a href="javascript:void(0)" class="mui-btn mui-btn-primary phone" v-bind:phone="order.dsp_mobile">
                        联系买家
                    </a>
                </div>
			</div>
		</div>



		<!--遮罩层-->
		<div class="zhezhao"></div>
		<!--取消订单提醒 取消退款 确认收货-->
		<div class="alertWait"  id="picture">
			<div class="a1">您确认关闭此订单吗？</div>
			<div class="a2">
				<span class="abolish">取消</span>
				<span class="makeSure  sureli">确定</span>
			</div>
		</div>

		<!--发票点击弹出框-->
		<div id="activeList" class="box mui-popover mui-popover-action mui-popover-bottom">
			<div class="mui-scroll-wrapper" style="margin: 0;">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<div class="icon-cart borderB1">
						<div style="border: 0;">
							<span class="iconMotive">发票信息</span>
							<img src="../images/order_close@2x.png" alt="" class="iconRight"/>
						</div>
					</div>
					<ul class="BillState">
						<li class="Bill">
							<span>公司名称：</span>
							<span class="BillFlex" v-text="invoice.inc_company_name"></span>
						</li>
						<li class="Bill">
							<span>纳税人识别号：</span>
							<span class="BillFlex" v-text="invoice.inc_nbr_code"></span>
						</li>
						<li class="Bill">
							<span>注册地址：</span>
							<span class="BillFlex" v-text="invoice.inc_reg_addrss"></span>
						</li>
						<li class="Bill">
							<span>注册电话：</span>
							<span class="BillFlex" v-text="invoice.inc_reg_mobile"></span>
						</li>
						<li class="Bill">
							<span>开户银行：</span>
							<span class="BillFlex" v-text="invoice.inc_open_bank"></span>
						</li>
						<li class="Bill">
							<span>银行账号：</span>
							<span class="BillFlex" v-text="invoice.inc_bankno"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<script src="../js/lib/jquery-1.7.1.min.js"></script>
		<script src="../js/lib/mui.min.js"></script>
		<script src="../js/lib/vue.min.js"></script>
		<script src="../js/lib/application.js"></script>
		<script src="../js/supp/orderdetail.js"></script>
		<script>
			mui.init()
			 mui('.mui-scroll-wrapper').scroll({
				deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			});
			// 点击隐藏
			mui('#activeList').on('tap','.iconRight',function(){
			    mui('#activeList').popover('hide',document.getElementById("list")); // 将id为list的元素放在想要弹出的位置
			});

		</script>
	</body>
</html>
