<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待完成订单</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/supp/index.css">
    <style>
        .finance-head{
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div id="loadingdiv">
    <div style="width: 100%;height: 100%;position: relative">
        <img src="../images/soogif1.gif" alt=""  class="spinner">
    </div>
</div>
<div id="app">
    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <!--数据列表-->
            <ul class="mui-table-view">
                <li class="finance-head">
                    <ul class="userMoney">
                        <li>待完成订单额度(元)</li>
                        <li class="userSum"  id="userSum">{{money}}<span>共{{count}}单</span></li>
                    </ul>
                    <div class="orderList mat10 order" v-for="item in orders" v-bind:so_id="item.so_id">
                        <div class="icon-cart">
                            <div>
                                <img src="../images/order_title copy@2x.png" alt="" class="iconLeft">
                                <span class="iconMotive" v-text="item.csr_username"></span>
                                <span class="iconStatus">{{item.so_status | getStatus}}</span>
                            </div>
                        </div>
                        <div class="orderChose" v-for="detail in item.detail">
                            <div class="choseImg">
                                <img v-bind:src="detail.spt_photo" alt="" />
                            </div>
                            <ul class="choseleft">
                                <li class="leftA">
                                    <span class="text-overflow2 flex1" v-text="detail.sod_name"></span>
                                    <div class="adrretA-font">
                                        <p>¥<span class="font14" v-text="detail.sod_price"></span></p>
                                        <p>×<span v-text="detail.sod_number"></span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="adrretA">
                            <span>付款时间：{{item.so_modify_time | FMtime}}</span>
                            <span class="icon-textRight" style="color: #333333;">共计{{item.count}}件商品  合计：¥{{item.so_price}} (含运费：<span>{{item.so_send_price}}</span>元)</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="../js/lib/jquery-1.7.1.min.js"></script>
<script src="../js/lib/mui.min.js"></script>
<script src="../js/lib/vue.min.js"></script>
<script src="../js/lib/application.js"></script>
<script src="../js/supp/waitorder.js"></script>
</body>
</html>