
.Imgbg{
	height:100vw;
	background:url(../images/Bitmap@2x.png)no-repeat 0 0;
	background-size: cover;
	overflow: hidden;
}
.Imgbg>img{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.mui-content>.mui-card:first-child {
     margin-top: 0; 
}
.mui-card{
	margin: 0;
	box-shadow:none;
	border-radius:0;
}
.commList{
	background: #FFFFFF;
	padding: 10px;
}
.commName{
	font-size: 16px;
	color: #333333;
    letter-spacing: 0;
	font-weight: bold;
}
.commList>li:nth-child(2){
	font-size: 12px;
	color: #999999;
	margin: 5px 0;
}
.commList>li:nth-child(4){
	font-size: 14px;
	color: #333333;
	margin: 5px 0;
}
.commPrice{
	color: rgb(220,60,79);
}
.commList>li:nth-child(3)>span>span{
	font-size: 17px;
}
.commFlex{
	font-size: 12px;
	color: #999999;
	display: flex;
	justify-content: space-between;
}
.supplier{
	margin-top: 10px;
	background: #FFFFFF;
}
.supplier .icon-cart{
	border-top: 0;
	border-bottom: 1px solid  #EEEEEE;
}
.supplier>ul{
	padding: 10px;
	font-size: 14px;
	color: #333333;
}
.supplier>ul>li{
	display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.orerfooter{
	position: fixed;
	display: flex;
	background: #FFFFFF;
	width: 100%;
	height: 61px;
	line-height: 50px;
	align-items: center;
	font-size: 17px;
	bottom: 0;
	left: 0;
	background: url(../images/bgbox-show.png)no-repeat 0 0;
	background-size:100% 100%;
	z-index: 5;
}
.orerfooter>button{
	 align-self:flex-end;
	 height: 50px;
}
.orderTel{
	border-right: 1px solid #EEEEEE;
}
.orderTel>img , .orderShop>img{
	width: 20px;
	height: 20px;
	margin: auto;
}
.orderTel>p , .orderShop>p{
	font-size: 12px;
	color: #333333;
}
.orderTel,.orderShop{
	flex-grow:1;
	text-align: center;
}
.orderMarke{
	background: #D63141;
	color: #FFFFFF;
	flex-grow:2;
	font-size: 17px;
}
.orderGet{
	background: #F53548;
	color: #FFFFFF;
	font-size: 17px;
	flex-grow:2;
}


/*现金券列表弹出*/
#activeList{
	width: 100%;
	height: 300px;
	background: #FFFFFF;
}
.mui-backdrop-action.mui-backdrop{
	    background-color: rgba(0,0,0,.5);
}
.aletValue{
		padding:0 15px;
}
.valueList{
	width: 100%;
	height: 100px;
	display: flex;
	display: -webkit-flex;
	background: url(../images/coupons@2x.png)no-repeat 0 0;
	background-size: 100% 100%;
	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
}
.valuePrice{
	flex: 1;
	font-size: 18px;
	padding: 10px;
}
.valuePrice ul{
	font-size: 12px;
	margin-top: 6px;
}
.value-moban,.value-moban-no{
	width: 27%;
	text-align: center;
	border-left: 1px dashed #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
}
.no-value{
	width: 60%;
	margin: 20px auto;
}
.no-value>img{
	width: 100%;
}
/*尚勤详情页立即购买弹出样式*/
.zhezhao{
	position: fixed;
	width:100%;
	height:100%;
	top: 0;
	left:0;
	background: rgba(0,0,0,.5);
	z-index: 99;
}
.addBuy{
	display: none;
	background-color: #FFFFFF;
	font-size: 14px;
	width: 100%;
	color: #333333;
	position: absolute;
	bottom: -176px;
	left: 0;
	z-index: 100;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.buyDetail{
	display: flex;
	display: -webkit-flex;
	padding:10px;
	border-bottom: 1px solid #EEEEEE;
}
.detailImg{
	width: 52px;
	height:52px;
	background: url("../images/Bitmap@2x.png") no-repeat center center;
	background-size: cover;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 10px;
}
.detailImg>img{
	width: 100%;
	height:100%;
}
.NumDetail,.datailName{
	flex: 1;
	margin-right: 10px;
}
.NumDetail>span,.datailName>span{
	width:100%;
}
.datailName>span:first-child{
	line-height: 18px;
}
.chahao{
	width: 19px;
	height:19px;
}
.buyNumber{
	display: flex;
	display: -webkit-flex;
	padding:10px;
	align-items: center;
}
.NumDetail>span:last-child{
	font-size: 12px;
	color: #999999;
}
.NumAdd>button{
	margin: 0;
	padding: 0;
	width:30px;
	height:30px;
	cursor: pointer;
}
.NumAdd>button.minus{
	background: url("../images/details_Popup%20window_subtract@2x.png")no-repeat center center;
	background-size: cover;
}
.NumAdd>button.add{
	background: url("../images/details_Popup%20window_Add@2x.png")no-repeat center center;
	background-size: cover;
}
.NumAdd{
	display: inline-flex;
	align-items: center;
}
.NumAdd>span{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width:50px;
	padding: 0 10px;
	border: 0;
	margin: 0;
	text-align: center;
}
.queding>button{
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 44px;
	height: 44px;
	font-size: 15px;
	color: #ffffff;
	background: rgb(220,60,79);
	text-align: center;
}
.discount .discount_span{
	margin-top: 5px;
	border: 0;
	padding-bottom: 10px;
	padding-top: 0;
}
.discount_span>span{
	float: left;
	margin-right: 10px;
	font-size: 13px;
	color: #999999;
}
.mui-toast-message{
	color: #FFFFFF;
	background-color: rgba(0,0,0,.7);
}
.format{
	padding: 10px 0;
	padding-left:10px;
	overflow: hidden;
}
.mat-list{
	border: 1px solid #999999;
	border-radius: 2px;
	color: #999999;
	float: left;
	margin: 5px 0;
	margin-right:10px;
}
.mat-active{
	border-color: #DC3C4F;
	color: #DC3C4F;
}
.mat-one-535{
	background-color: #999999;
	color: #FFFFFF;
	text-align: center;
	padding: 0 5px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
.mat-one-333{
	padding: 0 5px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
.mat-active .mat-one-535{
	background-color: #F04646;
	color: #FFFFFF;
}

/*新添样式*/
.pull-cart{
	height: 44px;
	flex:1;
	margin-right: 10px;
	overflow: hidden;
}
.pull-cart>li{
	float: left;
}
.pull-cart>li>span{
	background: url("../images/shop_Discount Copy 7@2x.png") no-repeat ;
	background-size: 100% 100%;
	margin-right: 10px;
	line-height: initial;
	color: #FFFFFF;
	white-space: nowrap;
	font-size: 12px;
	padding: 0 5px;
}
.activety-cart{
	line-height: 44px;
	background: #FFFFFF;
	cursor: pointer;
}
.activety-cart>div,.location-cart>div{
	margin-left: 10px;
	border-top: 1px solid #EEEEEE;
	padding-right: 10px;
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	color: #333333;
}
.activety-list{
	flex: 1;
	width: 1px;
	margin-right: 10px;
	margin-top: 6px;
	display: flex;
	flex-flow: column;
	margin-bottom: 10px;
}
.activety-list>li{
	line-height: initial;
	display: inline-flex;
	align-items: center;
	margin-top: 8px;
}
.activety-list-type{
	overflow: hidden;
	height: 16px;
}
.activety-list .iconLeft,.activety-list-type>span{
	float: left;
	font-size: 12px;
	margin-right: 10px;
	line-height: normal;
}
.activety-list>li>span{
	font-size: 12px;
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*新增送至*/
.location-cart{
	line-height: 44px;
	background: #FFFFFF;
	margin-top: 10px;
}
.location-cart>div{
	border-top: 0;
}
.location-list{
	flex: 1;
	width: 1px;
	margin-right: 10px;
	display: flex;
	flex-flow: column;
	line-height: normal;
	margin-top: 12px;
	margin-bottom: 10px;
}
.location-name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.location-no{
	font-size: 12px;
	color: #999999;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
	overflow: hidden;
	margin-top: 5px;
}
.location-type{
	font-size: 12px;
	color: #999999;
	margin-top: 5px;
}
.location-type>div{
	float: left;
	margin-right: 10px;
}
.location-type>div>img{
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
}
.location-type>div>span{
	display: inline-block;
	vertical-align: middle;
}
.alert_sales{
	display: flex;
	display: -webkit-flex;
	margin: 0 10px;
	margin-top: 5px;
}
.alert_sales .pull-cart{
	height: auto;
	line-height: 25px;
}
.alert_sales .iconLeft{
	margin-top: 5px;
}
.sales_detail{
	font-size: 12px;
	color: #333333;
	margin-top: 5px;
}
.alet-activety .activeList{
	margin-top: 10px;
	padding-bottom: 5px;
}
.location-click{
	font-size: 13px;
	height: 48px;
	display: flex;
	display: -webkit-flex;
	padding: 0 10px;
	align-items: center;
	border-bottom: 1px solid #EEEEEE;
}
.location-icon{
	display: inline-block;
	width: 20px;
	height:20px;
	background: url("../images/order_address_icon@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
	margin-right: 10px;
}
.location-click>span{
	flex: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
	overflow: hidden;
}
.location-active{
	color: #DC3C4F;
}
.location-active .location-icon{
	background: url("../images/distribution_location@2x.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.new-location{
	font-size: 17px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #FFFFFF;
	background-color: #DC3C4F;
}
#location .mui-scroll{
	padding-bottom: 44px;
}
#sales{
	display: none;
	position: fixed;
	bottom: -380px;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow-y: scroll;
	background-color: #FFFFFF;
	height: 375px;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	transition-delay: 0s;
}