
.Imgbg{
	height:100vw;
	background:url(../images/Bitmap@2x.png)no-repeat 0 0;
	background-size: cover;
	overflow: hidden;
}
.Imgbg>img{
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.mui-content>.mui-card:first-child {
     margin-top: 0; 
}
.mui-card{
	margin: 0;
	box-shadow:none;
	border-radius:0;
}
.commList{
	background: #FFFFFF;
	padding: 10px;
}
.commName{
	font-size: 16px;
	color: #333333;
    letter-spacing: 0;
	font-weight: bold;
}
.commList>li:nth-child(2){
	font-size: 12px;
	color: #999999;
	margin: 5px 0;
}
.commList>li:nth-child(3){
	font-size: 14px;
	color: #333333;
	margin: 5px 0;
}
.commPrice{
	color: rgb(220,60,79);
}
.commList>li:nth-child(3)>span>span{
	font-size: 17px;
}
.commFlex{
	font-size: 12px;
	color: #999999;
	display: flex;
	justify-content: space-between;
}
.supplier{
	margin-top: 10px;
	background: #FFFFFF;
}
.supplier .icon-cart{
	border-top: 0;
	border-bottom: 1px solid  #EEEEEE;
}
.supplier>ul{
	padding: 10px;
	font-size: 14px;
	color: #333333;
}
.supplier>ul>li{
	display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.orerfooter{
	position: fixed;
	display: flex;
	background: #FFFFFF;
	width: 100%;
	height: 61px;
	line-height: 50px;
	align-items: center;
	font-size: 17px;
	bottom: 0;
	left: 0;
	background: url(../images/bgbox-show.png)no-repeat 0 0;
	background-size:100% 100%;
	z-index: 5;
}
.orerfooter>button{
	 align-self:flex-end;
	 height: 50px;
}
.orderTel{
	border-right: 1px solid #EEEEEE;
}
.orderTel>img , .orderShop>img{
	width: 20px;
	height: 20px;
	margin: auto;
}
.orderTel>p , .orderShop>p{
	font-size: 12px;
	color: #333333;
}
.orderTel,.orderShop{
	flex-grow:1;
	text-align: center;
}
.orderMarke{
	background: #D63141;
	color: #FFFFFF;
	flex-grow:2;
	font-size: 17px;
}
.orderGet{
	background: #F53548;
	color: #FFFFFF;
	font-size: 17px;
	flex-grow:2;
}


/*现金券列表弹出*/
#activeList{
	width: 100%;
	height: 300px;
	background: #FFFFFF;
}
.mui-backdrop-action.mui-backdrop{
	    background-color: rgba(0,0,0,.5);
}
.aletValue{
		padding:0 15px;
}
.valueList{
	width: 100%;
	height: 100px;
	display: flex;
	display: -webkit-flex;
	background: url(../images/coupons@2x.png)no-repeat 0 0;
	background-size: 100% 100%;
	color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
}
.valuePrice{
	flex: 1;
	font-size: 18px;
	padding: 10px;
}
.valuePrice ul{
	font-size: 12px;
	margin-top: 6px;
}
.value-moban,.value-moban-no{
	width: 27%;
	text-align: center;
	border-left: 1px dashed #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
}
.no-value{
	width: 60%;
	margin: 20px auto;
}
.no-value>img{
	width: 100%;
}
/*尚勤详情页立即购买弹出样式*/
.zhezhao{
	position: fixed;
	width:100%;
	height:100%;
	top: 0;
	left:0;
	background: rgba(0,0,0,.5);
	z-index: 99;
}
.addBuy{
	display: none;
	background-color: #FFFFFF;
	font-size: 14px;
	width: 100%;
	color: #333333;
	position: absolute;
	bottom: -176px;
	left: 0;
	z-index: 100;
}
.buyDetail{
	display: flex;
	display: -webkit-flex;
	padding:10px;
	border-bottom: 1px solid #EEEEEE;
}
.detailImg{
	width: 52px;
	height:52px;
	background: url("../images/Bitmap@2x.png") no-repeat center center;
	background-size: cover;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 10px;
}
.detailImg>img{
	width: 100%;
	height:100%;
}
.NumDetail,.datailName{
	flex: 1;
	margin-right: 10px;
}
.NumDetail>span,.datailName>span{
	width:100%;
}
.datailName>span:first-child{
	line-height: 18px;
}
.chahao{
	width: 19px;
	height:19px;
}
.buyNumber{
	display: flex;
	display: -webkit-flex;
	padding:10px;
	align-items: center;
}
.NumDetail>span:last-child{
	font-size: 12px;
	color: #999999;
}
.NumAdd>button{
	margin: 0;
	padding: 0;
	width:30px;
	height:30px;
	cursor: pointer;
}
.NumAdd>button.minus{
	background: url("../images/details_Popup%20window_subtract@2x.png")no-repeat center center;
	background-size: cover;
}
.NumAdd>button.add{
	background: url("../images/details_Popup%20window_Add@2x.png")no-repeat center center;
	background-size: cover;
}
.NumAdd{
	display: inline-flex;
	align-items: center;
}
.NumAdd>input{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width:50px;
	padding: 0 10px;
	border: 0;
	margin: 0;
	text-align: center;
}
.queding>button{
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 44px;
	height: 44px;
	font-size: 15px;
	color: #ffffff;
	background: rgb(220,60,79);
	text-align: center;
}
.discount .discount_span{
	margin-top: 5px;
	border: 0;
	padding-bottom: 10px;
	padding-top: 0;
}
.discount_span>span{
	float: left;
	margin-right: 10px;
	font-size: 13px;
	color: #999999;
}
.mui-toast-message{
	color: #FFFFFF;
	background-color: rgba(0,0,0,.7);
}
.format{
	padding: 10px 0;
	padding-left:10px;
	overflow: hidden;
}
.mat-list{
	border: 1px solid #999999;
	border-radius: 2px;
	color: #999999;
	float: left;
	margin: 5px 0;
	margin-right:10px;
}
.mat-active{
	border-color: #DC3C4F;
	color: #DC3C4F;
}
.mat-one-535{
	background-color: #999999;
	color: #FFFFFF;
	text-align: center;
	padding: 0 5px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
.mat-one-333{
	padding: 0 5px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
.mat-active .mat-one-535{
	background-color: #F04646;
	color: #FFFFFF;
}