
.mui-content{
	margin-top: 44px;
}
.active{
	color:#FFFFFF;
}
.whose-tab{
	background: #DC3C4F;
	box-shadow: 0 1px 0 0 #D8D8D8;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-size: 13px;
	color: #F98C99;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.whose-tab li{
	flex: 1;
	text-align: center;
}
.whose-tab li:last-child{
	border-left: 1px solid #fff;
}
.whose-tab li img{
	width: 18px;
	height: 18px;
	margin: 0 auto;
}
.mui-table-view .choseImg{
	width: 40px;
	height: 40px;
}
.choseName{
	color: #333333;
	font-size: 14px;
	flex: 1;
	width: 1px;
}
.choseName ul{
	height: 100%;
	width: 100%;
	display: inline-flex;
	align-items: center;
}
.choseName ul li:first-child{
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	flex: 1;
	margin-right: 10px;
}
.choseName ul li:last-child a{
	font-size: 12px;
	color: #999999;
}
.choseName ul li:last-child img{
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	top: 3px;
}
/*弹出优惠活动*/
#openPopover{
	color: #999999;
}
#shopAlert{
	position: fixed;
    width: 80%;
    border-radius:10px;
    left: 50%;
    top: 50%;
    margin:0 auto;
    z-index: 9999;
    overflow: hidden;
    background-color: rgb(245,53,72);
     -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mui-popover-arrow{
	display: none;
}
.activity{
	padding: 10px;
	background: #FFFFFF;
}
.activity>li{
	margin-top:10px ;
}
.activity>li:first-child{
	margin-top:0 ;
}
.activity>li>div{
	font-size: 14px;
	color: #333333;
}
.blue-activity{
	padding:2px 7px ;
	background: #4876F1;
	border-radius: 2px;
	color: #FFFFFF;
}
.Time-activity{
	font-size: 12px;
	color: #999999;
	margin-top: 4px;
	text-align: right;
}
.yellow-activity{
	background: #FFAA0C;
	border-radius: 2px;
	padding:2px 7px ;
	color: #FFFFFF;
}
.red-activity{
	background: #F53548;
	border-radius: 2px;
	padding:2px 7px ;
	color: #FFFFFF;
}
/*改版*/
.media .listIcon{
	width:100px;
	height: 100px;
}
.media .Listflex{
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-end;
}
.media .listName{
	height: auto;
	flex-grow: inherit;
}
.man-hiddden>span:last-child{
	margin-left: 10px;
}

.supplier  .itemLeft{
	width: 100px;
	height: 100px;
}
.orderChose .choseBody{
	display: inline-flex;
	flex-flow: column;
	justify-content: flex-end;
}
.choseBody{
	height: auto;
}
.supplier .choseBody>li:first-child{
	height: auto;
	flex-grow: inherit;
	font-size: 15px;
	font-weight: normal;
}
.xuanhuan{
	overflow: hidden;
}
.xuanhuan .Icon535{
	font-weight: bold;
}
 .Icon535 .text, .icon535>span{
	font-size: 16px;
}
.supp2{
	align-items: center
}
