@charset "utf-8";
.box-input{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: none;
}
.check-box{
    width:18px;
    height:18px;
    display:inline-block;
    cursor:pointer;
    margin-top: 21px;
    margin-right: 10px;
}
.check-box input[type="checkbox"].box-input + span,.check-box input[type="radio"].box-input + span{
    width:18px;
    height:18px;
    display:inline-block;
    border: 1px solid #979797;
    border-radius: 27px;
}
.check-box input[type="checkbox"].box-input:checked + span,.check-box input[type="radio"].box-input:checked + span{
    width:18px;
    height:18px;
    display:inline-block;
    background:url("../../images/Configure%20the%20service%20shop_check@2x@2x.png") no-repeat;
    background-position:0 0;
    background-size:  cover;
    border: 0;
}
.mui-table-view .borderT1:first-child{
    border-top:0 ;
}
.orderChose{
    border-top: 0;
}
.choseImg{
    width: 60px;
    height: 60px;
}
.mui-table-view>li:first-child{
    margin-top: 0;
}
.assigned {
    flex: 1;
    width: 1px;
    margin-right: 10px;
    display: inline-flex;
    flex-flow: column;
    align-content: space-around;
}
.assigned>li:first-child {
    font-weight: bold;
    flex: 1;
}
.assigned-new{
    font-size: 12px;
    color: #999999;
}
.assigned-new>li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.color535{
    font-size: 12px;
}
.color535>span{
    font-size: 14px;
}
.addSaleMan{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.addSaleMan .invenBtn{
    background-color: #DC3C4F;
    border-top: 0;
    color: #FFFFFF;
    font-size: 17px;
}
.invenBtn{
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    border-top: 1px solid #EEEEEE;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: #DC3C4F;
    padding: 0 10px;
}
.rightCase {
    background-color: #FFFFFF;
    width: 86%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -90%;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
}
.caseHeader {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    border-bottom: 1px solid #EEEEEE;
}
.caseList-ob {
    font-size: 12px;
    color: #333333;
}

.caseList-ob>span {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
}
.caseList-ob ul {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 0 5px;
    margin-top: -5px;
}
.caseList-ob ul li {
    display: inline-block;
    width: calc(100% / 3);
    width: -webkit-calc(100% /3);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    margin: 5px 0;
}
.caseList-ob ul li.active>span {
    background: #FFFFFF;
    border: 1px solid #F53548;
    color: #F53548;
}
.caseList-ob ul li>span {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #F0F2F5;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.AdvertDetail {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 95;
    display: none;
}
@-webkit-keyframes rightA {
    from {right:-90%;}
    to {right:0;}
}
@-webkit-keyframes rightB {
    from {right:0;}
    to {right:-90%;}
}
.rightRun{
    -webkit-animation:rightA 0.3s linear ;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode:forwards;
}
.rightNoRun{
    -webkit-animation:rightB 0.3s linear ;
    animation-fill-mode : forwards;
    -webkit-animation-fill-mode:forwards;
}