<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index.css">
		<link rel="stylesheet" href="../css/commDetail.css">
		<style>
			.mui-content{
				padding-bottom: 50px;
			}
			.Imgbg>span {
			   display: block;
			   width: 100%;
			   height: 100%;
			   background-position: center center;
			   background-size: cover;
			   background-repeat: no-repeat;
			}
		</style>
	</head>
	<body>

	<div id="loadingdiv">
		<div style="width: 100%;height: 100%;position: relative">
			<img src="../images/soogif1.gif" alt=""  class="spinner">
		</div>
	</div>
<div id="app">
<!-- ?spt_id=10&user_id=307&origin=adr -->
	<div  id="pullrefresh" class="mui-content mui-scroll-wrapper">

		<div class="mui-scroll">
			<!--数据列表-->
			<ul class="mui-table-view">
				<div class="mui-card">
					<!--内容区-->
					<div class="mui-slider">
					   <div class="mui-slider-group">
					      <div class="mui-slider-item" v-for="item in photolist">
					         <div class="Imgbg">
					            <span v-bind:style="{backgroundImage:'url('+item+')'}"></span>
					         </div>
					      </div>
					   </div>
					   <div class="mui-slider-indicator">
						   <div class="mui-indicator"  v-for="(item,index) in photolist" :class="{'mui-active':!index}"></div>
						</div>
					</div>
					<!--页脚，放置补充信息或支持的操作-->
					<ul class="commList">
						<li class="commName" v-text="detail.spt_name"></li>
						<li>
							批发价：
							<span class="commPrice">¥
							<span v-if="detail.spt_is_promotion == 'Y'" v-text="detail.spt_promotion_price"></span>
							<span v-if="detail.spt_is_promotion != 'Y'" v-text="detail.spt_price"></span>
							</span>
							<span class="color999">(建议零售价：¥{{detail.spt_suggestion_price}})</span>
						</li>
						<li class="commFlex">
							<span>月销量：{{detail.sale_count}}</span>
							<span>库存：{{detail.spt_stock}}</span>
							<span>起批数量：{{detail.spt_minunit}}{{detail.spt_wholesale_unit}}</span>
						</li>
					</ul>
				</div>
				<a href="#activeList" v-if="first_coupon_name != ''" v-if="first_coupon_name != null">
					<div class="icon-cart">
						<div>
							<img src="../images/shop_Discount@2x.png" alt="" class="iconLeft"/>
							<span class="iconMotive">{{first_coupon_name}}</span>
							<span class="iconItem">领取</span>
							<!--<img src="../images/item_arrow@2x copy@2x.png" alt="" class="iconRight"/>-->
						</div>
					</div>
				</a>
				
				<!--满减活动-->
				<!--<div class="icon-cart" v-if="hasMorefree == 'Y'">
					<div>
						<img src="../images/Full reduction@2x.png" alt="" class="iconLeft"/>
						<span class="iconMotive">{{morefree.detal}}</span>
						<div class="iconTime">活动剩余 <span>{{free_time}}</span></div>
					</div>
				</div>-->
            	<!--满减活动-->
                <div class="discount" v-if="hasMorefree == 'Y'">
                    <div>
                        <img src="../images/Full reduction@2x.png" alt="" class="iconLeft"/>
                        <ul>
                            <li v-text="morefreeName"></li>
                            <li v-for="item in morefree">满{{item.full}}减{{item.min}} </li>
                        </ul>
                        <!--<span class="iconMotive">{{morefree.detal}}</span>-->
                        <div class="iconTime">活动剩余 <span>{{free_time}}</span></div>
                    </div>
                </div>
				<div class="icon-cart" v-if="hasSalses == 'Y'">
					<div>
						<img src="../images/Sales promotion@2x.png" alt="" class="iconLeft"/>
						<span class="iconMotive">{{sales.spr_name}}</span>
						<div class="iconTime">活动剩余 <span>{{sale_time}}</span></div>
					</div>
				</div>
				
				<!--供应商-->
				<div class="supplier">
					<div class="icon-cart">
						<div>
							<span class="iconMotive">供应商 {{detail.csr_username}}</span>
						</div>
					</div>
					<ul>
						<li>
							规格：<span>{{detail.spt_unit_desc}}</span>
						</li>
						<li v-if="detail.spt_wine_taste != null && detail.spt_wine_taste != ''">
							香型：<span>{{detail.spt_wine_taste}}</span>
						</li>
						<li v-if="detail.spt_pro_address != null && detail.spt_pro_address != ''">
							产地：<span>{{detail.spt_pro_address}}</span>
						</li>
						<li v-if="detail.spt_volume != null && detail.spt_volume != ''"> 
							净含量：<span>{{detail.spt_volume}}ml</span>
						</li>
						<li v-if="detail.spt_is_limit == 'Y'">
							限购数量：<span>{{detail.spt_limit_count}}{{detail.spt_wholesale_unit}}</span>
						</li>
						<li v-if="detail.spt_alcoholic_strength != null && detail.spt_alcoholic_strength != ''">
							酒精度：<span>{{detail.spt_alcoholic_strength}}度</span>
						</li>
					</ul>
				</div>
				<!--详情介绍-->
				<div class="supplier">
					<div class="icon-cart">
						<div>
							<span class="iconMotive" style="text-align: center;">详情介绍</span>
						</div>
					</div>
					<ul style="padding: 0;">
						<li v-html="detail.spt_desc">
							
						</li>
					</ul>
				</div>
			</ul>
		</div>

	</div>
			<!--底部定位-->
			<div class='orerfooter'>
				<button  class="orderTel" id="telephone" v-bind:phone="detail.csr_mobile">
					<img src="../images/cartsupplier@2x.png" alt="" />
					<p>供应商</p>
				</button>
				<button class="orderShop" id="suppshop" v-bind:csrid="detail.csr_id">
					<img src="../images/order_title copy 3@2x.png" />
					<p>店铺</p>
				</button>
				<!--<button v-if="canCart == 'N'" class="orderMarke" id="addToCart" style="color: #FFFFFF;background-color: #cccccc">
				   加入购物车
				</button>-->
				<button class="orderMarke" id="addToCart">
					加入购物车
				</button>
				<button class=" orderGet" id="allToBuy">
					立即购买
				</button>
			</div>
		    <!--现金券弹出列表-->
			<div id="activeList" class="box mui-popover mui-popover-action mui-popover-bottom" style="height: 375px;">
				<div class="mui-scroll-wrapper" style="margin: 0;">
					<div class="mui-scroll">
						<!--这里放置真实显示的DOM内容-->
						<div class="icon-cart">
							<div>
								<span class="iconMotive" style="text-align: center;">店铺优惠券</span>
							</div>
						</div>

						<div class='aletValue' v-for="item in couponList">
							<div class="valueList">
								<div class="valuePrice">
									<span v-if="item.cpr_value_type == '1'"  style="font-size: 30px;">¥<span style="font-size: 30px;">{{item.cpr_cash}}</span></span>
									<span v-if="item.cpr_value_type == '0'"  style="font-size: 30px;">{{item.cpr_cash * 10}}<span style="font-size: 30px;">折</span></span>
									<ul>
										<li>{{item.cpr_desc}}</li>
										<li>{{item.cpr_name}}</li>
									</ul>
								</div>
								<div v-if="item.isShow == '1'" class="value-moban catCoupon" v-bind:cpr_id="item.cpr_id">
									<span>立即领取</span>
								</div>
								<div v-if="item.isShow == '0'" class="value-moban-no">
									<span v-text="item.tips"></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

            <!--立即购买-->
            <div class="addBuy">
                <div class="buyDetail">
                    <div class="detailImg">
                        <img :src="detail.spt_photo" alt="">
                    </div>
                    <div class="datailName">
                        <span class="text-overflow2" v-text="detail.spt_name"></span>
                        <span class="commPrice font12">¥
                            <span style="font-size: 15px" v-if="detail.spt_is_promotion == 'Y'" v-text="detail.spt_promotion_price"></span>
                            <span style="font-size: 15px" v-if="detail.spt_is_promotion != 'Y'" v-text="detail.spt_price"></span>
                        </span>
                    </div>
                    <img src="../images/close@2x.png" alt="" class="chahao">
                </div>
                <div class="buyNumber">
                    <div class="NumDetail">
                        <span>购买数量</span>
                        <span>剩余{{detail.spt_stock}}件，起批量{{detail.spt_minunit}}件</span>
                    </div>
                    <div class="NumAdd">
                        <button class="minus"></button>
                        <input type="number" v-model="buy_num" autofocus id="numValue" data-min="5" >
                        <button class="add"></button>
                    </div>
                </div>
                <div class="queding">
                    <button class="ripple">确定</button>
                </div>
            </div>

            <!--遮罩层-->
            <div class="zhezhao" style="display: none"></div>
        </div>

		<script src="../js/lib/application.js"></script>
		<script src="../js/lib/mui.min.js"></script>
		<script src="../js/lib/vue.min.js"></script>
		<script src="../js/lib/jquery-1.7.1.min.js"></script>
		<script src="../js/product.js"></script>
</body>
		<script type="text/javascript">
			mui.init()
			 mui('.mui-scroll-wrapper').scroll({
				deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			});
	</script>
	

</html>