<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/index.css">
		<link rel="stylesheet" href="../css/wholesalers.css">
        <style>
        	a:active,a:hover{
			    color: #999;
			}
            .bg535-cofff{
			   font-size: 12px;
			   color: #FFFFFF;
			   background-color: #f53548;
			   border-radius: 2px;
			   padding: 0 3px;
			}
			.choseBody>li:last-child{
			   font-size: 13px;
			   margin-top: 5px;
			}
        </style>
	</head>
	<!-- ?user_id=307&csr_id=5&origin=adr -->
	<body>

	<div id="loadingdiv">
		<div style="width: 100%;height: 100%;position: relative">
			<img src="../images/soogif1.gif" alt=""  class="spinner">
		</div>
	</div>
	<div id="app">
		<ul class="whose-tab">
			<li v-bind:class="{'active':order == 0,'order':true}" order="0">综合</li>
			<li v-bind:class="{'active':order == 1,'order':true}" order="1">销量</li>
			<li v-bind:class="{'active':order == 2,'order':true}" order="2">价格</li>
			<li v-bind:class="{'active':order == 3,'order':true}" order="3">上新</li>
			<li class="addmedia">
				<img src="../images/Product-list_Horizontal@2x@2x.png" alt="" v-if="addMedia"/>
				<img src="../images/Product-list_Vertical@2x@2x.png" alt="" v-if="!addMedia"/>
			</li>
		</ul>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">

			 <div class="mui-scroll">
				  <!--数据列表-->
				  <ul class="mui-table-view">
				  		<div class="orderChose supp2">
				  			<div class="choseImg">
				  				<img v-bind:src="supp.csr_photo" alt="" />
				  			</div>
				  			<div class="choseName">
				  				<ul>
				  					<li v-text="supp.csr_username"></li>
					  				<li>
                                        <a v-if="supp.spr_id == null">
					  					<a  v-if="supp.spr_id != null" id="activi" >
					  						<span>店铺活动</span>
					  						<img src="../images/item_arrow@2x copy@2x.png" alt="" />
					  					</a>
					  				</li>
				  				</ul>
				  			</div>
				  		</div>
				  		<!--列表-->
				  		<div class="xuanhuan" v-bind:class="addMedia?'':'media' ">  <!--添加media-->
				  			
				  			<div class="shopList product" v-for="item in supp.items" v-bind:spt_id="item.spt_id">
					          <div class="listIcon">
					            <span :style="{backgroundImage: 'url(' + item.spt_photo + ')'}"></span>
					          </div>
					          <div class="Listflex">
					              <div class="listName ">
									 <div class="text-overflow2" v-text="item.spt_name" style="line-height: normal;"></div>
								  </div>
					              <div style="background: #fff;padding:0 10px;">
					                <span class="Icon535">¥
					                <span  class="text">{{item.spt_price}}</span>
					                </span>
					                <span class="Icon999">月售{{item.sale_count}}笔</span>
					                <div class="clearfix"></div>
					              </div> 
					          </div> 
					        </div>
					        
				  		</div>

				  		<!--活动商品-->
						<div v-if="hasActiviProduct">
							<div class="PageList">
							   <img src="../images/store_activity@2x.png" alt="" />
							</div>
							<div class="orderChose supplier product" v-for="item in groupList" v-bind:spt_id="item.spt_id">
							    <div class="itemLeft">
							        <img v-bind:src="item.spt_photo" alt="" />
							    </div>
							    <ul class="choseBody">
							        <li>
									   <div class="text-overflow2" v-text="item.spt_name"></div>
									</li>
									<li>
									   <span class="bg535-cofff" v-text="item.spr_name"></span>
									</li>
								    <li class="man-hiddden">
								       <span class="icon535">¥<span v-if="item.spt_is_promotion == 'Y'">{{item.spt_promotion_price}}</span><span v-if="item.spt_is_promotion != 'Y'">{{item.spt_price}}</span></span>
								   		<span>月销{{item.sale_count}}笔</span>
								    </li>
								 </ul>
							</div>
							<div class="orderChose supplier product" v-for="item in seleList" v-bind:spt_id="item.spt_id">
							    <div class="itemLeft">
							        <img v-bind:src="item.spt_photo" alt="" />
							    </div>
							    <ul class="choseBody">
								      <li>
									   <div class="text-overflow2" v-text="item.spt_name"></div>
									  </li>
									<li>
									   <span class="bg535-cofff" v-text="item.spr_name"></span>
									</li>
								    <li class="man-hiddden">
								       <span class="icon535">¥<span v-if="item.spt_is_promotion == 'Y'">{{item.spt_promotion_price}}</span><span v-if="item.spt_is_promotion != 'Y'">{{item.spt_price}}</span></span>
								   		<span>月销{{item.sale_count}}笔</span>
								    </li>
								 </ul>
							</div>
						</div>
				  		
				  </ul>
			 </div>
		</div>	 
		
		<!--店铺活动弹出列表-->
		<div id="shopAlert"  class="mui-popover">
			<img src="../images/privilege_title@2x.png" alt="" />
			<ul class="activity">
				<li v-if="supp.spr_id != null">
					<div>
						<span class="blue-activity lt">满减 </span>
						<span v-if="endTime != null" class="Time-activity rt">活动剩余 {{endTime}}</span>
						<div class="clearfix"></div>
					</div>
					<div class="text-overflow2 mat10">{{supp.am_json | getFree}}</div>
				</li>
				<li v-if="supp.cpr_id != null">
					<div>
						<span class="yellow-activity">优惠券 </span>
						<div class="clearfix"></div>
					</div>
					<div class="text-overflow2 mat10">{{supp.cpr_desc}}</div>
				</li>
			</ul>
		</div>
		

	</div>
		<script src="../js/lib/application.js"></script>
		<script src="../js/lib/mui.min.js"></script>
		<script src="../js/lib/vue.min.js"></script>
		<script src="../js/lib/jquery-1.7.1.min.js"></script>
		<script src="../js/supplier.js"></script>
		<script type="text/javascript">
			var pop = document.getElementById("shopAlert");
            var mask = mui.createMask(function(){
                pop.classList.remove('mui-active');
            });
		</script>
	</body>

</html>